 <div class="offcanvas offcanvas-end action-menu-wrapper" tabindex="-1" id="counterCanvas" aria-labelledby="counterCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="counterCanvasLabel">MENU COMPTEUR PERSONNALISE</h5>
        <button
                type="button"
                class="btn-close text-reset btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <p>Compteur pour toutes les cartes</p><br>
        <button
                type="button"
                id="power-forAll-minus"
                class="btn btn-sm btn-danger"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='power-minus' %}"
        >
            -
        </button>
        <button
                type="button"
                id="power-forAll-plus"
                class="btn btn-sm btn-primary"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='power-plus' %}"
        >
            +
        </button>
        <span style="font-size: 1.8rem; padding-left: 5px; padding-right: 5px;">/</span>
        <button
                type="button"
                id="defense-forAll-minus"
                class="btn btn-sm btn-danger"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='defense-minus' %}"
        >
            -
        </button>
        <button
                type="button"
                id="defense-forAll-plus"
                class="btn btn-sm btn-primary"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='defense-plus' %}"
        >
            +
        </button>
        <hr>
         <!-- ------------- REINITIALIZE TOUTES LES CARTES ---------------------->
        <button
                id="reset_all_cards"
                class="btn btn-sm btn-warning mt-4 mb-4"
                data-reset-url="{% url 'playground_reset_all' deck_id=deck.pk %}"
        >
            Réinitialiser toutes les cartes
        </button>
        <hr>
        <div class="row">
            <div class="offset-1 col-10 custom_counter_wrapper">
                <br><p>Compteur personnalisé</p>
                <form id="custom_counter_form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {{ form.as_p }}
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </form>
            </div>
        </div>
    </div>
 </div>