<div class="offcanvas offcanvas-top cards-list-wrapper" tabindex="-1" id="bibliothequeCanvas" aria-labelledby="bibliothequeCanvasLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="bibliothequeCanvasLabel">Bibliothèque</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            {% for plainswalker in deck.plainswalkers.all|dictsort:"name" %}
                <div class="col-xxl-1 col-lg-2 col-md-2 col-sm-3 col-4 card-thumbnail">
                    <a
                            id="plainswalker-{{ plainswalker.pk }}"
                            href="{% url 'playground_add_plainswalker' deck_id=deck.pk plainswalker_id=plainswalker.pk %}"
                            role="button"
                    >
                        <img src="{{ plainswalker.illustration }}" style="width: 100%" alt="{{ plainswalker.name }}"/>
                        <p class="mb-2">{{ plainswalker.name }}</p>
                    </a>
                </div>
          {% endfor %}
          {% for card in deck.cards.all|dictsort:"name" %}
                <div class="col-xxl-1 col-lg-2 col-md-2 col-sm-3 col-4 card-thumbnail">
                    <a
                            id="card-{{ card.pk }}"
                            data-is-token="{% if 'Token' in card.description %}True{% else %}False{% endif %}"
                            data-bs-toggle="modal"
                            data-bs-target="#cardModal-{{ card.pk }}"
                            href="#collapseCardForm-{{ card.pk}}"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                    >
                        {% if "Token" in card.description %}
                            <img src="/media/token.png" style="width: 100%" alt="{{ card.name }}"/>
                        {% else %}
                            <img src="{{ card.illustration }}" style="width: 100%" alt="{{ card.name }}"/>
                        {% endif %}
                        <p class="mb-2">{{ card.name }}</p>
                    </a>

                    <div class="modal" id="cardModal-{{ card.pk }}" tabindex="-1">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content formCardCollapse">
                          <div class="modal-header">
                            <h3 class="modal-title">Ajouter {{ card.name }}</h3>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                             <label for="cardForm-{{ card.pk}}">Nombre</label>
                             <input type="number" name="cardForm-{{ card.pk}}" id="cardForm-{{ card.pk}}" value="1"/>
                          </div>
                          <div class="modal-footer">
                            <button
                                  id="cardFormValid-{{ card.pk}}"
                                  type="button"
                                  class="btn btn-success"
                                  data-card-id="{{ card.pk}}"
                                  data-add-url = "{% url 'playground_add_card' deck_id=deck.pk card_id=card.pk number_of_cards='1' %}"
                            >Valider</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
          {% endfor %}
        </div>
    </div>
</div>