{% extends "magicCounter/base.html" %}
{% load static %}

{% block page_title %}
    {% if user.is_authenticated %}
        <h1>Changement de mot de passe pour {{ user.username|upper }}</h1>
    {% else %}
        <h1>Vous ne pouvez pas changer votre mot de passe</h1>
    {% endif %}
{% endblock %}

{% block page_menu %}
    <a href="{% url 'profile' %} ">
        <button class="btn btn-warning" type="button">Revenir au profile</button>
    </a>
    <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-success">Revenir à l'accueil</button>
    </a>
{% endblock%}

{% block main_content %}
    {% if user.is_authenticated %}
      <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 col-12 form-wrapper">
         <form method="POST" action="">
             {% csrf_token %}

             {{ form.as_p}}
             <button class="btn btn-success" type="submit">Confirmer</button><br><br>
         </form>
      </div>
    {% endif %}
{% endblock %}