{% extends "magicCounter/base.html" %}
{% load static %}

{% block page_title %}
    <h1>{{ deck.name|upper }}</h1>
    <a href="{% url 'decks_index' %}">
        <button type="button" class="btn btn-success">Revenir à la liste des decks</button>
    </a>
{% endblock %}

{% block main_content %}
     <div class="col-12">
         <div class="row">
              <div class="col-lg-12">
                   <div class="row deck-info">
                      <div class="col-12">
                          <ul>
                              <li><span>Nom :</span> {{ deck.name}}</li>
                              <li><span>Couleurs :</span>
                              {% for color in deck.colors.all %}
                                 <img src="/media/{{color|lower}}.png" width="40" alt="{{ color }} picto">
                              {% endfor %}
                              </li>
                              <li>
                                  <span>Cartes :</span>
                                  <div class="row">
                                      {% for card in deck.card_set.all %}
                                          <div class="col-3" style="text-align: center;">
                                              <img class="deck-illustration" src="{{card.illustration}}" width="250" alt="{{ card.name }}">
                                          <a
                                                  class="btn btn-danger"
                                                  href="{% url 'remove_card_from_deck' deck_id=deck.pk card_id=card.pk %}"
                                          >
                                              Dissocier
                                          </a>
                                          </div>
                                      {% endfor %}
                                  </div>
                              </li>
                          </ul><br><br>
                          <a class="btn btn-warning" href="{% url 'deck_edit' pk=deck.pk %}">Editer</a>
                          <a href="{% url 'deck_delete' pk=deck.pk %}">
                             <button class="btn btn-danger">Supprimer</button>
                         </a>
                      </div>
                   </div>
              </div>
         </div>
     </div>
{% endblock %}

