{% extends "magicCounter/base.html" %}

{% block main_content %}
<div class="col-12">
    <h1>Liste des cartes</h1>
    <a href="{% url 'card_add' %}">
        <button type="button" class="btn btn-success">Ajouter une carte</button>
    </a>
</div>
 <div class="col-12">
     <div class="row">
         {% for card in cards %}
         <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
             <div class="card-wrapper">
                <img class="card-illustration" src="{{ card.illustration }}" alt="{{ card.name }}"/>
                 <a class="btn btn-danger" href="{% url 'card_delete' pk=card.pk %}">Supprimer</a>
             </div>
        </div>
        {% endfor%}
     </div>
 </div>

{% endblock %}
