{% extends "magicCounter/base.html" %}

{% block page_title%}
    <h1>Bienvenue sur Magic Counter</h1>

{% endblock%}

{% block page_menu %}
    <a href="{% url 'playground' %}">
        <button class="btn btn-primary">Aller sur l'aire de jeu</button>
    </a>
    <a href="{% url 'decks_index' %}">
        <button type="button" class="btn btn-success">Liste des decks</button>
    </a>
    <a href="{% url 'cards_index' %}">
        <button type="button" class="btn btn-success">Liste des cartes</button>
    </a>
    <a href="{% url 'tokens_index' %}">
        <button type="button" class="btn btn-success">Liste des Jetons</button>
    </a>
    <a href="{% url 'profile' %}">
        <button type="button" class="btn btn-warning">Mon compte</button>
    </a>
{% endblock%}

{% block main_content %}
     <div class="col-12">
         <div class="row">
             {% for deck in decks %}
             <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6"  style="text-align: center;">
                 <a href="{% url 'deck_consult' deck_id=deck.pk %}">
                     <div class="row deck-wrapper">
                         <div class="col-12 deck_colors">
                             {% for color in deck.colors.all %}
                                <img src="/media/{{color|lower}}.png" width="40" alt="{{ color }} picto">
                             {% endfor %}
                         </div>
                         <div class="col-12 deck_name">
                             {{ deck.name }}
                         </div>
                     </div>
                 </a>
                 <a class="btn btn-warning" href="{% url 'deck_edit' pk=deck.pk %}">Editer</a>
                 <a class="btn btn-danger" href="{% url 'deck_delete' pk=deck.pk %}">Supprimer</a>
            </div>
            {% endfor%}
         </div>
     </div>
{% endblock %}