{% extends "magicCounter/base.html" %}

{% block page_title%}
    <h1>Bienvenue sur Magic Counter</h1>
    <a href="{% url 'decks_index' %}">
        <button type="button" class="btn btn-success">Liste des decks</button>
    </a>
    <a href="{% url 'cards_index' %}">
        <button type="button" class="btn btn-success">Liste des cartes</button>
    </a>
{% endblock%}

{% block main_content %}
 <div class="col-12">
     <div class="row">
         {% for card in cards %}
         <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
             <a href="{% url 'card_consult' card_id=card.pk %}">
                 <div class="card-wrapper">
                    <img class="card-illustration" src="{{ card.illustration }}" alt="{{ card.name }}"/>
                     <p style="margin-bottom: 10px;">{{ card.name }}</p>
                     <a class="btn btn-danger" href="{% url 'card_delete' pk=card.pk %}">Supprimer</a>
                 </div>
             </a>
        </div>
        {% endfor%}
     </div>
 </div>

{% endblock %}