{% extends "magicCounter/base.html" %}
{% load static %}
{% block page_title %}
    <h1>{{ card.name }}</h1>
{% endblock %}

{% block page_menu %}
     <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-success">Retour à l'accueil</button>
    </a>
    <a href="{% url 'cards_index' %}">
        <button type="button" class="btn btn-success">Revenir à la liste des cartes</button>
    </a>
    <a href="{% url 'card_add' %}">
        <button type="button" class="btn btn-success">Créer une carte</button>
    </a>
{% endblock%}


{% block main_content %}
    <div class="modal" tabindex="-1" id="associationModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Associer dans le(s) deck(s)</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="POST" action="{% url 'associate_card_to_deck' card_id=card.pk %}">
                  {% csrf_token %}
                  {{ form.deck }}
                  <button type="submit" class="btn btn-success">Associer</button>
              </form>
          </div>
        </div>
      </div>
    </div>

     <div class="col-12">
         <div class="row">
              <div class="col-lg-8">
                   <div class="row card-info">
                       {% if card.description == "Token" %}
                           <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12 col-xs-12 token-wrapper-consult ">
                                <div class="token-name-consult">{{ card.name }}</div>
                                <div class="token-colors-consult">
                                    {% for color in card.colors.all %}
                                        <img width="18" src="/media/{{ color.color|lower }}.png" alt="{{color.color}}"/>
                                  {% endfor %}
                                </div>
                                <div class="token-description-consult">{{ card.description }}</div>
                                <div class="token-po-de-consult">{{ card.power }} / {{ card.defense }}</div>
                            </div>
                      {% else %}
                        <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <img class="card-info-illustration" src="{{ card.illustration }}" alt="{{ card.name }}"/>
                        </div>
                      {% endif %}
                      <div class="col-xl-6 col-md-7 col-sm-12 col-xs-12">
                          <ul>
                              <li><span>Nom :</span> {{ card.name}}</li>
                              <li><span>Couleurs :</span> {% for color in card.colors.all %} {{ color.color }} {% endfor %}</li>
                              <li><span>Types :</span> {% for type in card.types.all %} {{ type.name }} {% endfor %}</li>
                              <li><span>Force/Endurance :</span> {{ card.power }} / {{ card.defense }}</li>
                              <li><span>Vol :</span> {% if card.isFlying %} Oui {% else %} Non {% endif %}</li>
                              <li><span>Lien de vie :</span> {% if card.isLifeLink %} Oui {% else %} Non {% endif %}</li>
                              <li><span>Description :</span> {{ card.description }}</li>
                              <li><span>Actuellement dans le(s) deck(s) :</span> {% for deck in card.deck.all %} {{ deck.name }},  {% endfor %}</li>
                          </ul><br><br>
                          <a href="{% url 'card_delete' pk=card.pk %}">
                             <button class="btn btn-danger">Supprimer</button>
                         </a>
                          <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#associationModal">
                              Associer avec deck(s)
                          </button>
                      </div>
                   </div>
              </div>
         </div>
     </div>
{% endblock %}

