{% extends "magicCounter/base.html" %}
{% load static %}

{% block page_menu %}
    <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-house"></i> Retour à l'accueil</button>
    </a>
    <a href="{% url 'decks_index' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-layer-group"></i> Revenir à la liste des decks</button>
    </a>
    <a href="{% url 'card_add' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-file-circle-plus"></i> Créer une carte</button>
    </a>
    <a href="{% url 'token_add' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-ring"></i>+ Créer un Jeton</button>
    </a>
{% endblock%}


{% block page_title %}
    <h1>{{ deck.name|upper }}</h1>
{% endblock %}

{% block main_content %}
     <div class="col-12">
         <div class="row">
              <div class="col-lg-12">
                   <div class="row deck-info">
                      <div class="col-12">
                          <ul>
                              <li><span>Nom :</span> {{ deck.name}}</li>
                              <li><span>Couleurs :</span>
                              {% for color in deck.colors.all %}
                                 <img src="/media/{{color|lower}}.png" width="40" alt="{{ color }} picto">
                              {% endfor %}
                              </li>
                              <li>
                                  <span>Cartes :</span>
                                  <div class="row">
                                      {% for card in deck.cards.all %}
                                          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                                             <a href="{% url 'card_consult' card_id=card.pk %}">
                                                 <div class="card-wrapper">
                                                      {% if card.description == "Token" %}
                                                         <div class="token-illustration">
                                                             <div class="token-name">{{ card.name }}</div>
                                                             {% for color in card.colors.all %}
                                                                <img class="token-colors" width="15" src="/media/{{ color.color|lower }}.png" alt="{{color.color}}"/>
                                                             {% endfor %}
                                                             <div class="token-description">{{ card.description }}</div>
                                                             <div class="token-po-de">{{ card.power }} / {{ card.defense }}</div>

                                                         </div>
                                                      {% else %}
                                                         <img class="card-illustration" src="{{ card.illustration }}" alt="{{ card.name }}"/><br>
                                                      {% endif %}
                                                      <div class="card-buttons">
                                                          <a class="btn btn-sm btn-warning" href="{% url 'card_edit' pk=card.pk %}">Editer</a>
                                                          <a
                                                              class="btn btn-sm btn-danger"
                                                              href="{% url 'remove_card_from_deck' deck_id=deck.pk card_id=card.pk %}"
                                                          >Dissocier
                                                          </a>
                                                      </div>
                                                 </div>
                                             </a>
                                          </div>
                                      {% endfor %}
                                  </div>
                              </li>
                          </ul><br><br>
                          <a class="btn btn-sm btn-warning" href="{% url 'deck_edit' pk=deck.pk %}">Editer</a>
                          <a href="{% url 'deck_delete' pk=deck.pk %}">
                             <button class="btn btn-sm btn-danger">Supprimer</button>
                         </a>

                      </div>
                   </div>
              </div>
         </div>
     </div>
{% endblock %}

