{% extends "magicCounter/base.html" %}
{% load static %}

{% block page_title%}
    <h1>Aire de jeu !</h1>
{% endblock%}

{% block page_menu %}
    {% include "includes/main_menu.html" %}
{% endblock%}

{% block main_content %}
    <!--    MENU LISTE DES CARTES A JOUER-->
    {% include "includes/library.html" %}

    <!--    Historique-->
    {% include "includes/history.html" %}

    <!-- ------- AIRE DE JEU -------->
    {% include "includes/playground_menu.html" %}

    <div class="col-12">
        <div class="row">
            {% for plainswalker in json.plainswalkers %}
                <div
                        class="col-3 playground-plainswalker-wrapper"
                        id="{{ plainswalker.index }}"
                >
                    <p>{{ plainswalker.name }} </p><br>

                     <div id="tapped-card-{{plainswalker.index}}">
                         <img src="{{ plainswalker.illustration }}" class="ms-2" width="185" alt="{{ plainswalker.name }}"/>
                    </div>
                    <div style="text-align: center">
                        <button
                                type="button"
                                id="loyalty-minus-{{ plainswalker.index }}"
                                class="btn btn-sm btn-danger"
                                data-save-url="{% url 'playground_save_plainswalker' deck_id=deck.pk plainswalker_index=plainswalker.index button='loyalty-minus' new_value=0 %}">
                            -
                        </button>
                        <span id="loyalty-{{ plainswalker.index }}" >
                            {{ plainswalker.loyalty }}
                        </span>
                    </div>
                    <div style="text-align: center">
                        <a href="#"
                           id="death-{{ plainswalker.index }}"
                           class="btn btn-sm death-button btn-card"
                           data-deck-id="{{deck.pk}}"
                           data-remove-url="{% url 'playground_remove_plainswalker' deck_id=deck.pk index=plainswalker.index %}"
                        >
                            Cimetière
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row playground-wrapper">
            {% for card in json.cards %}
                <div
                        class="col-3 {% if card.isDefended %} playground-defended-card-wrapper {% else %} playground-card-wrapper {% endif %}"
                        id="{{ card.index }}"
                        data-reorder-url="{% url 'playground_reorder_cards' deck_id=deck.pk slug='0' %}"
                >
                    <p>{{ card.name }} </p>
                    <p>
                        <em>({% for type in card.types %} {{ type }} {% endfor%})</em>
                        {% if card.tapped and not card.isDefended %}
                            <span id="badge-attack-{{card.index}}" class="badge-attack ms-5"> Attaque </span>
                        {% elif card.isDefended %}
                            <span id="badge-defended-{{card.index}}" class="badge-defend ms-5"> Paré ! </span>
                        {% endif %}
                    </p><br>
                    <p>
                        {% if card.isLifeLink %}
                                <span>
                                   <a
                                       style="color:green; font-size: 0.9rem;"
                                       href="{% url 'playground_non_lifelink_creature' deck_id=deck.pk index=card.index %}"
                                   >
                                      Lien de vie <i class="fa-solid fa-circle-xmark"></i>
                                   </a>
                                </span>

                        {% else %}
                            <span>
                               <a
                                   style="color:red; font-size: 0.9rem;"
                                   href="{% url 'playground_lifelink_creature' deck_id=deck.pk index=card.index %}"
                               >
                                  Lien de vie <i class="fa-solid fa-circle-plus"></i>
                               </a>
                            </span>

                        {% endif %}
                        {% if card.hasHaste %}
                                <span>
                                   <a
                                       style="color:green; font-size: 0.9rem;"
                                       href="{% url 'playground_non_haste_creature' deck_id=deck.pk index=card.index %}"
                                   >
                                      Célérité <i class="fa-solid fa-circle-xmark"></i>
                                   </a>
                                </span>

                        {% else %}
                            <span>
                               <a
                                   style="color:red; font-size: 0.9rem;"
                                   href="{% url 'playground_haste_creature' deck_id=deck.pk index=card.index %}"
                               >
                                  Célérité <i class="fa-solid fa-circle-plus"></i>
                               </a>
                            </span>

                        {% endif %}
                        {% if card.isFlying %}
                                <span>
                                   <a
                                       style="color:green; font-size: 0.9rem;"
                                       href="{% url 'playground_non_flying_creature' deck_id=deck.pk index=card.index %}"
                                   >
                                      Vol <i class="fa-solid fa-circle-xmark"></i>
                                   </a>
                                </span>

                        {% else %}
                            <span>
                               <a
                                   style="color:red; font-size: 0.9rem;"
                                   href="{% url 'playground_flying_creature' deck_id=deck.pk index=card.index %}"
                               >
                                  Vol <i class="fa-solid fa-circle-plus"></i>
                               </a>
                            </span>

                        {% endif %}
                    </p>
                     <div id="tapped-card-{{card.index}}"  class="{% if card.tapped %}tapped_card{% endif %}" >
                        {% if card.description == "Token" %}
                             <div class="playground-token-illustration ms-2">
                                 <div class="playground-token-name">{{ card.name }}</div>
                                 <div class="playground-token-description" style="text-align: center;">
                                     {% for color in card.colors %}
                                        <img class="token-colors" width="15" src="/media/{{ color|lower }}.png" alt="{{color.color}}"/>
                                     {% endfor%}<br>
                                     {{ card.description }}
                                 </div>
                                 <div class="playground-token-po-de">{{ card.power }} / {{ card.defense }}</div>
                             </div>
                        {% else %}
                             <img src="{{ card.illustration }}" class="ms-2" width="185" alt="{{ card.name }}"/>
                        {% endif %}
                    </div>
                    <div style="text-align: center">
                        <button
                                type="button"
                                id="power-minus-{{ card.index }}"
                                class="btn btn-sm btn-danger"
                                data-lifelink="{{card.isLifeLink}}"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='power-minus' new_value=0 %}">
                            -
                        </button>
                        <span id="power-{{ card.index }}" data-lifelink="{{card.isLifeLink}}">
                            {% if "*" in card.power %} 0 {% else %} {{ card.power }} {% endif %}
                        </span>
                        <button
                                type="button"
                                id="power-plus-{{ card.index }}"
                                class="btn btn-sm btn-primary"
                                data-lifelink="{{card.isLifeLink}}"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='power-plus' new_value=0 %}">
                            +
                        </button>
                        <span style="font-size: 1.8rem; padding-left: 5px; padding-right: 5px;">/</span>
                        <button
                                type="button"
                                id="defense-minus-{{ card.index }}"
                                class="btn btn-sm btn-danger"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='defense-minus' new_value=0 %}">-</button>
                        <span id="defense-{{ card.index }}" data-lifelink="{{card.isLifeLink}}">
                            {% if "*" in card.defense %} 0 {% else %} {{ card.defense }} {% endif %}
                        </span>
                        <button
                                type="button"
                                id="defense-plus-{{ card.index }}"
                                class="btn btn-sm btn-primary"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='defense-plus' new_value=0 %}">
                            +
                        </button>
                    </div>
                    <div style="text-align: center">
                        {% if not card.invokation.state or card.hasHaste %}
                            {% if not card.tapped and json.turn.state != "close" and "Wall" not in card.types  %}
                                <a href="#"
                                   id="attack-{{ card.index }}"
                                   class="btn btn-sm btn-warning btn-card"
                                   data-deck-id="{{deck.pk}}"
                                   data-attack-url="{% url 'playground_attack' deck_id=deck.pk card_index=card.index %}"
                                >
                                    Attaquer
                                </a>
                            {% elif json.turn.state == "open" and "Wall" not in card.types %}
                                <a href="#"
                                   id="untap-{{ card.index }}"
                                   class="btn btn-sm btn-secondary btn-card"
                                   data-deck-id="{{deck.pk}}"
                                   data-untap-url="{% url 'playground_untap' deck_id=deck.pk card_index=card.index %}"
                                >
                                    Annuler
                                </a>
                            {% elif json.turn.state == "attack" and card.tapped and not card.isDefended and "Wall" not in card.types  %}
                                <a href="#"
                                   id="defend-{{ card.index }}"
                                   class="btn btn-sm btn-success btn-card"
                                   data-deck-id="{{deck.pk}}"
                                   data-defend-url="{% url 'playground_defend' deck_id=deck.pk card_index=card.index %}"
                                >
                                    Marquer "Paré"
                                </a>
                            {% endif %}
                        {% endif %}
                        <a href="#"
                           id="death-{{ card.index }}"
                           class="btn btn-sm death-button btn-card"
                           data-deck-id="{{deck.pk}}"
                           data-remove-url="{% url 'playground_remove_creature' deck_id=deck.pk index=card.index %}"
                        >
                            Cimetière
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- ------- MENU ACTIONS -------->
    {% include "includes/counter_menu.html" %}

    <!--------------- CIMETIERE ------------------>
    {% include "includes/graveyard.html" %}

{% endblock %}
