{% extends "magicCounter/base.html" %}
{% load static %}


{% block page_title%}
    <h1>Aire de jeu !</h1>

{% endblock%}

{% block page_menu %}
    <a href="{% url 'kill_game' deck_id=deck.pk %}">
        <button class="btn btn-danger">Mettre fin à la partie</button>
    </a>
    <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-success">Retour à l'accueil</button>
    </a>
    <a href="{% url 'decks_index' %}">
        <button type="button" class="btn btn-success">Liste des decks</button>
    </a>
    <a href="{% url 'cards_index' %}">
        <button type="button" class="btn btn-success">Liste des cartes</button>
    </a>
    <a href="{% url 'tokens_index' %}">
        <button type="button" class="btn btn-success">Liste des Jetons</button>
    </a>
{% endblock%}

{% block main_content %}

<!--    MENU LISTE DES CARTES A JOUER-->
    <div class="col-lg-2 col-md-4 col-sm-6 cards-list-wrapper">
        <h2>Bibliothèque</h2>
        <div class="row">
          {% for card in deck.cards.all|dictsort:"name" %}
                <div class="col-lg-6 col-md-12 col-sm-6 col-6 card-thumbnail">
                    <a href="{% url 'playground_add_card' deck_id=deck.pk card_id=card.pk %}">
                        {% if "Token" in card.description %}
                            <img src="/media/token.png" style="width: 100%" alt="{{ card.name }}"/>
                        {% else %}
                            <img src="{{ card.illustration }}" style="width: 100%" alt="{{ card.name }}"/>
                        {% endif %}
                        <p class="mb-2">{{ card.name }}</p>
                    </a>
                </div>
          {% endfor %}
        </div>
    </div>

<!-- ------- AIRE DE JEU -------->
    <div class="col-lg-8 col-md-4 col-sm-6">
        <div class="row playground-wrapper">
            {% for card in json.cards %}
                <div class="col-3 playground-card-wrapper" id="{{ card.index }}">
                    <p>{{ card.name }}</p>
                    <p><em>({% for type in card.types %} {{ type }} {% endfor%})</em></p>
                    <p style="color: goldenrod;">{% if card.isFlying %}Volant{% else %}Non-volant{% endif %}</p>
                    {% if card.description == "Token" %}
                         <div class="playground-token-illustration">
                             <div class="playground-token-name">{{ card.name }}</div>
                             <div class="playground-token-description" style="text-align: center;">
                                 {% for color in card.colors %}
                                    <img class="token-colors" width="15" src="/media/{{ color|lower }}.png" alt="{{color.color}}"/>
                                 {% endfor%}<br>
                                 {{ card.description }}
                             </div>
                             <div class="playground-token-po-de">{{ card.power }} / {{ card.defense }}</div>
                         </div>
                    {% else %}
                         <img src="{{ card.illustration }}" width="185" alt="{{ card.name }}"/>
                    {% endif %}
                    <div style="text-align: center">
                        <button
                                type="button"
                                id="power-minus-{{ card.index }}"
                                class="btn btn-sm btn-danger"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='power-minus' new_value=0 %}">-</button>
                        <span id="power-{{ card.index }}">{% if "*" in card.power %} 0 {% else %} {{ card.power }} {% endif %}</span>
                        <button
                                type="button"
                                id="power-plus-{{ card.index }}"
                                class="btn btn-sm btn-primary"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='power-plus' new_value=0 %}">
                            +
                        </button>
                        <span style="font-size: 1.8rem; padding-left: 5px; padding-right: 5px;">/</span>
                        <button
                                type="button"
                                id="defense-minus-{{ card.index }}"
                                class="btn btn-sm btn-danger"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='defense-minus' new_value=0 %}">-</button>
                        <span id="defense-{{ card.index }}">{% if "*" in card.defense %} 0 {% else %} {{ card.defense }} {% endif %}</span>
                        <button
                                type="button"
                                id="defense-plus-{{ card.index }}"
                                class="btn btn-sm btn-primary"
                                data-save-url="{% url 'playground_save' deck_id=deck.pk card_index=card.index button='defense-plus' new_value=0 %}">
                            +
                        </button>
                    </div>
                    <a href="#"
                       id="death-{{ card.index }}"
                       class="btn btn-sm death-button"
                       data-deck-id="{{deck.pk}}"
                       data-remove-url="{% url 'playground_remove_creature' deck_id=deck.pk index=card.index %}"
                    >
                        Tuer la créature
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>

<!-- ------- MENU ACTIONS -------->


    <div class="col-lg-2 col-md-4 col-sm-12 action-menu-wrapper">
        <br><p>Points de vie</p>
        <div class="life-wrapper">
            <button
                    type="button"
                    id="life-minus"
                    class="btn btn-sm btn-danger"
                    data-save-url="{% url 'playground_life_save' deck_id=deck.pk button='life-minus' %}"
            >
                -
            </button>
            <span id="life-points" style="font-size: 5rem; color:white;">{{ json.life }}</span>
            <button
                    type="button"
                    id="life-plus"
                    class="btn btn-sm btn-primary"
                    data-save-url="{% url 'playground_life_save' deck_id=deck.pk button='life-plus' %}"
            >
                +
            </button>
        </div>
        <hr>

        <br><p>Compteur pour toutes les cartes</p><br>
        <button
                type="button"
                id="power-minus-forAll"
                class="btn btn-sm btn-danger"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='power-minus' %}"
        >
            -
        </button>
        <button
                type="button"
                id="power-plus-forAll"
                class="btn btn-sm btn-primary"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='power-plus' %}"
        >
            +
        </button>
        <span style="font-size: 1.8rem; padding-left: 5px; padding-right: 5px;">/</span>
        <button
                type="button"
                id="defense-minus-forAll"
                class="btn btn-sm btn-danger"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='defense-minus' %}"
        >
            -
        </button>
        <button
                type="button"
                id="defense-plus-forAll"
                class="btn btn-sm btn-primary"
                data-save-url="{% url 'playground_save_for_all' deck_id=deck.pk button='defense-plus' %}"
        >
            +
        </button>
        <hr>
         <!-- ------------- REINITIALIZE TOUTES LES CARTES ---------------------->
        <button
                id="reset_all_cards"
                class="btn btn-sm btn-warning mt-4 mb-4"
                data-reset-url="{% url 'playground_reset_all' deck_id=deck.pk %}"
        >
            Réinitialiser toutes les cartes
        </button>
        <hr>
        <div class="row">
            <div class="offset-1 col-10 custom_counter_wrapper">
                <br><p>Compteur personnalisé</p>
                <form id="custom_counter_form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {{ form.as_p }}
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
