{% extends "magicCounter/base.html" %}
{% load static %}

{% block page_menu %}
    <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-house"></i> Retour à l'accueil
        </button>
    </a>
    <a href="{% url 'cards_index' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-file"></i> Liste des cartes
        </button>
    </a>
{% endblock%}

{% block page_title %}
    {% if card %}
        <h1>Modifier {{ card.name }}</h1>
    {% else %}
        <h1>Ajouter un Jeton</h1>
    {% endif %}

{% endblock %}

{% block main_content %}
     <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 col-12 form-wrapper">
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="fieldWrapper">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
            </div>

            <div class="row">
                <div class="col-5">
                     <div class="fieldWrapper">
                        {{ form.power.errors }}
                        <label for="{{ form.power.id_for_label }}">{{ form.power.label }}</label>
                        {{ form.power }}
                    </div>
                </div>
                <div class="col-2"><span style="font-size: 6rem; color: black;">/</span></div>
                <div class="col-5">
                    <div class="fieldWrapper">
                        {{ form.defense.errors }}
                        <label for="{{ form.defense.id_for_label }}">{{ form.defense.label }}</label>
                        {{ form.defense }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2 mt-4">
                    <div class="fieldWrapper">
                        {{ form.isFlying.errors }}
                        <label for="{{ form.isFlying.id_for_label }}">{{ form.isFlying.label }}</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="fieldWrapper" style="width: 20px;">
                        {{ form.isFlying }}
                    </div>
                </div>

                <div class="col-4 mt-4">
                    <div class="fieldWrapper">
                        {{ form.isLifeLink.errors }}
                        <label for="{{ form.isLifeLink.id_for_label }}">{{ form.isLifeLink.label }}</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="fieldWrapper" style="width: 20px;">
                        {{ form.isLifeLink }}
                    </div>
                </div>
            </div>

            <div class="fieldWrapper">
                {{ form.language.errors }}
                <label for="{{ form.language.id_for_label }}">{{ form.language.label }}</label>
                {{ form.language }}
            </div>

            <div class="fieldWrapper">
                {{ form.deck.errors }}
                <label for="{{ form.deck.id_for_label }}">{{ form.deck.label }}</label>
                {{ form.deck }}
            </div>

            <div class="fieldWrapper">
                {{ form.colors.errors }}
                <label for="{{ form.colors.id_for_label }}">{{ form.colors.label }}</label>
                {{ form.colors }}
            </div>

            <div class="fieldWrapper">
                {{ form.types.errors }}
                <label for="{{ form.types.id_for_label }}">{{ form.types.label }}</label>
                {{ form.types }}
            </div>

            <div class="fieldWrapper">
                {{ form.add_type.errors }}
                <label for="{{ form.add_type.id_for_label }}">{{ form.add_type.label }}</label>
                {{ form.add_type }}
            </div>

            {% if error %} <div class="text-red">{{error}}</div> {% endif %}
            <button class="btn btn-success" type="submit">Valider</button>
        </form>
     </div>

{% endblock %}
