{% extends "magicCounter/base.html" %}
{% load static %}

{% block page_menu %}
    <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-house"></i> Retour à l'accueil
        </button>
    </a>
    <a href="{% url 'tokens_index' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-ring"></i> Liste des Jetons
        </button>
    </a>
{% endblock%}

{% block page_title %}
    <h1>{{ card.name }}</h1>
{% endblock %}
{% block main_content %}
    <div class="modal" tabindex="-1" id="associationModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Associer dans le(s) deck(s)</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="POST" action="{% url 'associate_token_to_deck' card_id=token.pk %}">
                  {% csrf_token %}
                  {{ form.deck }}
                  <button type="submit" class="btn btn-success">Associer</button>
              </form>
          </div>
        </div>
      </div>
    </div>

     <div class="col-12">
         <div class="row">
              <div class="col-lg-8">
                   <div class="row card-info">
                      <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12 token-wrapper-consult ">
                          <div class="token-name-consult">{{ token.name }}</div>
                          <div class="token-colors-consult">
                              {% for color in token.colors.all %}
                                    <img width="18" src="/media/{{ color.color|lower }}.png" alt="{{color.color}}"/>
                              {% endfor %}
                          </div>
                          <div class="token-description-consult">{{ token.description }}</div>
                          <div class="token-po-de-consult">{{ token.power }} / {{ token.defense }}</div>
                      </div>
                      <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                          <ul>
                              <li><span>Nom :</span> {{ token.name}}</li>
                              <li><span>Couleurs :</span> {% for color in token.colors.all %} {{ color.color }} {% endfor %}</li>
                              <li><span>Types :</span> {% for type in token.types.all %} {{ type.name }} {% endfor %}</li>
                              <li><span>Force/Endurance :</span> {{ token.power }} / {{ token.defense }}</li>
                              <li><span>Description :</span> {{ token.description }}</li>
                              <li><span>Vol :</span> {% if token.isFlying %} Oui {% else %} Non {% endif %}</li>
                              <li><span>Lien de vie :</span> {% if token.isLifeLink %} Oui {% else %} Non {% endif %}</li>
                              <li><span>Actuellement dans le(s) deck(s) :</span> {% for deck in token.deck.all %} {{ deck.name }},  {% endfor %}</li>
                          </ul><br><br>
                          <a href="{% url 'token_delete' pk=token.pk %}">
                             <button class="btn btn-danger">Supprimer</button>
                         </a>
                          <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#associationModal">
                              Associer avec deck(s)
                          </button>
                      </div>
                   </div>
              </div>
         </div>
     </div>
{% endblock %}

