{% extends "magicCounter/base.html" %}
{% load static %}

{% block page_menu %}
    <a href="{% url 'homepage' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-house"></i> Retour à l'accueil
        </button>
    </a>
    <a href="{% url 'tokens_index' %}">
        <button type="button" class="btn btn-success">
            <i class="fa-solid fa-ring"></i> Liste des Jetons
        </button>
    </a>
{% endblock%}

{% block main_content %}
    <h1>Supprimer {{ token.name }}</h1>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Oui je veux supprimer</button>
    </form>

{% endblock %}
